<div class="card shadow product-card">
    <div class="img-wrap">
        <span class="badge bg-success discount-badge">İndirim</span>
        <img src="img/1.jpeg" alt="ürün 1" class="card-img-top">
    </div>

    <div class="border-top info-wrap">
        <div class="title-row">
            <a href="details.html" class="title text-truncate">
                Apple Watch Yıldız Işığı Alüminyum Kasa ve spor Kordon
            </a>
            <a href="#" class="btn btn-light fav-btn">
                <i class="fa-regular fa-heart"></i>
            </a>
        </div>
        <div class="price-wrap">
            <span class="price-discount">45.999 ₺</span>
            <del class="price">49.999 ₺</del>
        </div>
    </div>
</div>